body {
    background-color: #fdfdff;
}
.storytitle {
    text-align: left;
    font-size: 90px;
    margin-bottom: 36px;
    padding: 0;
}
.members {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 1% 0 1%;
}
.member {
    width: 45%;
    background-color: #fdfdff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    border-radius: 20px;
    transition: all 0.2s ease-in;
    margin-bottom: 100px;
    border-style: solid;
    border-color: #f0f0f0;
}
/*
.member:hover {
    box-shadow: 28px 28px 50px #bebbbf;
    border-color: rgba(0, 0, 0, 0);
}
*/
a {
    text-decoration: none;
    color: black;
}
.memberphoto {
    height: 300px;
    width: 300px;
    object-fit: cover;
    border-radius: 10px;
}
.memberdesc {
    width: 70%;
    margin-left: 20px;
}
.subtitle {
    font-size: 36px;
    margin: 0;
}
p {
    font-size: 24px;
    margin-bottom: 20px;
}
.content {
    margin-bottom: 16px;
}
.button {
    font-size: 24px;
}


@media only screen and (max-width: 1400px) {
    .member {
        width: 100%;
    }
    .members {
        flex-direction: row;
    }
}