/*COLORS
background: white
outlining: black
midtones:
gray (E0E0E0)
darker purple (673AB7)
lighter purple (7E57C5)
*/

/*layout*/
body {
    margin: 50px 50px 50px 50px;
    background-color: #fefeff;
}
header {
    border-width: 2px;
    border-top-style: solid;
    border-bottom-style: solid;
    padding: 16px;
    margin-bottom: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
main {
}
.section1 {
    background-image: url(./images/kang-soon-ja-faded.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height: auto;
    padding: 36px;
    display: flex;
}
.sotm-title {
    font-size: 70px;
    text-align: right;
    flex-direction: right;
    color: white;
}
.sotm {
    width: 70%;
    margin-top: 0;
    color: white;
}
.section2 {/*
    display: grid;
    grid-template-areas: 
        "left   center  center";*/
    display: flex;
    padding: 36px 0px 36px 0px;
}
.trisection {
    margin: 36px 0px 36px 0px;
}
.newsflashes {
    display:flex;
    overflow-x: auto;
}
.card {
    width: 600px;
    margin: 16px 36px 16px 0px;
    padding: 0px;
}
.cardimg {
    width: inherit;
    height: 400px;
    object-fit: cover;
}
.section3 {/*
    display: grid;
    grid-template-areas: 
        "left   center  center";*/
    display: flex;
    flex-flow: row-reverse;
    padding: 36px 0px 36px 0px;
}
.left-bottom {
    padding-top: 400px;
}
.floatingcard {
    background-color: #7E57C5;
    padding: 40px;
    width: auto;
    border-radius: 16px;
    color: white;
    align-items: center;
    text-align: left;
    max-width: 600px;
    align-self: flex-end;
}
footer {
    border-width: 2px;
    border-top-style: solid;
    border-bottom-style: solid;
    margin-bottom: 30px;
    margin-top: 64px;
    padding: 24px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/*main*/
#sidebar {
    width: 120%;
    padding-right: 100px;
}
#sidebar2 {
    width: 200%;
    padding-left: 100px;
    text-align: right;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
#content {
}
.founder {
    width: 100%;
    height: 500;
    object-fit: cover;
    object-position: top;
    margin-bottom: 0px;
}

/*text styles*/
h1 {
    font-family: 'Butler';
    font-weight: 900;
    font-size: 60px;
    padding: 0;
    margin: 0;
}
h2 {
    font-size: 34px;
    font-weight: 300;
    font-style: normal;
    letter-spacing: 1.5px;
    font-family: 'Enriqueta';
    font-weight: 400;
}
p {
    font-family: 'Pridi';
    letter-spacing: 1px;
    font-size: 27px;
    font-weight: 300;
    margin: 0;
}
b {
    color: #7E57C5;
}
.link {
    margin-left: 40px;
    font-size: 28px;
    text-decoration: none;
    font-family: 'Enriqueta';
    color: black;
    text-decoration: underline 0.15em rgba(0, 0, 0, 0);
    text-decoration-thickness: 2px;
    text-underline-offset: 3px;
    transition: text-decoration-color 300ms, color 300ms;
}
.link:hover {
    color: #7E57C5;
    text-decoration-color: #7E57C5;
}
.link-active {
    color: #7E57C5;
    margin-left: 40px;
    font-size: 28px;
    font-family: 'Enriqueta';
    text-decoration-thickness: 2px;
    text-underline-offset: 3px;
    text-decoration-color: #7E57C5;
}

.logo {
    stroke: black;
    stroke-width: 1px;
    transition: 0.2s ease-out;
}
.logolink:hover {
    fill: #7E57C5;
    transition: 0.2s ease-in;
}
.logo-active {
    fill: #7E57C5;
}

.logo-h1 {
    font-size: 175px;
}
.button {
    font-size: 32px;
    margin-top: 36px;
    text-decoration: none;
    color: black;
    font-family: butler;
    font-style: italic;
    font-weight: bolder;
    text-decoration: underline 0.15em rgba(0, 0, 0, 0);
    text-decoration-thickness: 3px;
    text-underline-offset: 5px;
    transition: text-decoration-color 300ms, color 300ms;
}
.button:hover {
    text-decoration-color: #7E57C5;
    color: #7E57C5;
}
.button2 {
    font-size: 32px;
    margin-top: 36px;
    text-decoration: none;
    color: white;
    font-family: butler;
    font-style: italic;
    font-weight: bolder;
    text-decoration: underline 0.15em rgba(0, 0, 0, 0);
    text-decoration-thickness: 3px;
    text-underline-offset: 5px;
    transition: text-decoration-color 300ms, color 300ms;
}
.button2:hover {
    text-decoration-color: #7E57C5;
    color: #7E57C5;
}
.subtitle {
    font-weight: bolder;
    font-size: 40px;
    margin: 15px 0px 0px 0px;
}
.sectiontitle {
    font-family: 'Butler';
    font-weight: 900;
    font-size: 100px;
    padding: 0;
    margin: 0;
    margin-bottom: 36px;
}

.divider {
    width: 81px;
    height: 7px;
    border-style: none;
    background-color: black;
    margin-left: 0;
    margin-top: 20px;
    margin-bottom: 20px;
}
.fulldivider {
    height: 3px;
    border-style: none;
    background-color: black;
    margin-top: 36px;
    margin-bottom: 36px;
}

@media only screen and (max-width: 1200px) {
  /* For tablets: */
    .section1 {
        display: inline-block;
    }
    .sotm {
        font-size: 24px;
        margin-bottom: 10;
    }
    .sotm-title {
        padding-top: 36px;
        font-size: 40px;
    }
    .button {
        padding: 0;
        font-size: 24px;
    }
    .left-bottom {
        padding: 0;
    }
    body {
        margin: 30px;
        overflow-x: hidden;
    }
    .section2 {
        display: block;
    }
    .section3 {
        display: block;
        width: 100%;
    }
    #sidebar2 {
        padding: 0;
        text-align: left;
        display: inline;
        flex-direction: column;
        justify-content: space-between;
    }
    .sectiontitle {
        font-size: 70px;
        width: auto;
    }
    footer {
        font-size: 16px;
    }
    .link {
        font-size: 20px;
    }
    .floatingcard {
        max-width: none;
    }
}
